__pycache__/
*.pyc
# *.duckdb
# *.db
.env

# *.wal
*.log

# Ignore large XML files that exceed GitHub's 100MB limit
corpora/BAWE.XML
personal_overrides.json
venv/
.venv/
test_*.txt
*.xlsx
chemistry.txt
linguistics.txt
test_raw_ingest.txt
test_raw_sentence.txt
test_root_tag.txt

*.duckdb
!BAWE.duckdb
!corpora/*.duckdb
*.duckdb.wal
