__pycache__/
*.pyc
# *.duckdb
# *.db
.env

# *.wal
*.log

corpora/
personal_overrides.json
venv/
.venv/
test_*.txt
*.xlsx
chemistry.txt
linguistics.txt
test_raw_ingest.txt
test_raw_sentence.txt
test_root_tag.txt

*.duckdb
!bawe.duckdb
*.duckdb.wal
