streamlit
pandas
duckdb
spacy
openpyxl
xlsxwriter
matplotlib
scikit-learn
cefrpy
eng-to-ipa
python-Levenshtein
google-generativeai
requests
numpy
youtube-transcript-api
youtube-comment-downloader
requests
beautifulsoup4
ddgs

deep-translator
trafilatura
